<div id="orders">

  <nav class="bar">
    Order
    <a {{action 'createOrder'}} class="confirm">New Order</a>
  </nav>
{{!--<div class="table-header">
  <div class="row">
    <div class="small-2 columns">
      ID
    </div>
    <div class="small-4 columns">
      Client
    </div>
    <div class="small-3 columns">
      Total
    </div>
    <div class="small-3 columns">
      Date
    </div>
  </div>
</div>--}}

{{#each}}
{{#link-to 'order' id tagName='div' class="table-row"}}
    <div class="small-2 columns">
      {{id}}
    </div>
    <div class="small-4 columns">
      {{client.fullName}}
    </div>
    <div class="small-3 columns">
      ${{totalCost}}
    </div>
    <div class="small-3 columns">
      {{format-date date}}
    </div>
{{/link-to}}

{{/each}}

</div>