<div id="order-edit">
  <nav class="bar">
    {{#link-to 'order' class="deny"}}Cancel{{/link-to}}
    <a class="confirm" {{action 'save'}}>Save</a>
  </nav>
  <div class="content">
    id: {{id}}
    <br>client: {{client.fullName}}
    <br>height: {{input value=height}}
    <br>width: {{input value=width}}
    <br>privacy: <label>{{input type="checkbox" checked=privacy}} Yes</label>
    <br>frameCost: ${{input value=frameCost}}
    <br>crateCost: ${{input value=crateCost}}
    <br>taxCost: ${{input value=taxCost}}
    <br>shipCost: ${{input value=shipCost}}
    <br>shippingCompany: {{view Ember.Select content=shippingCompanies value=shippingCompany optionLabelPath="content.name"}}
    <br>totalCost: ${{input value=totalCost}}
    <br>deposit: ${{input value=deposit}}
    <br>balance: ${{input value=balance}}
    <br>date: {{input value=date type="date"}}

    <button {{action 'deleteOrder'}} class="deleteButton">Delete</button>
  </div>
</div>