<div id="order">
  <nav class="bar">
    {{#link-to 'orders' class="deny"}}&lsaquo; Orders{{/link-to}}
    {{#link-to 'order.edit' class="confirm"}}Edit{{/link-to}}
  </nav>
  <div class="content"> 
    <br>Client: {{client.fullName}}
    <br>Height: {{height}}"
    <br>Width: {{width}}"
    <br>Privacy: {{privacy}}
    <br>Frame Cost: ${{frameCost}}
    <br>Crate Cost: ${{crateCost}}
    <br>Tax Cost: ${{taxCost}}
    <br>Shipping Cost: ${{shipCost}}
    <br>ShippingCompany: {{shippingCompany.name}}
    <br>TotalCost: ${{totalCost}}
    <br>Deposit: ${{deposit}}
    <br>Balance: ${{balance}}
    <br>Date: {{date}}
  </div>

</div>