<div id="order">
  <nav class="bar">
    {{#link-to 'orders' class="deny"}}&lsaquo; Orders{{/link-to}}
    {{#link-to 'order.edit' class="confirm"}}Edit{{/link-to}}
  </nav>

id: {{id}}
<br>client: {{client.fullName}}
<br>height: {{height}}
<br>width: {{width}}
<br>privacy: {{privacy}}
<br>frameCost: ${{frameCost}}
<br>crateCost: ${{crateCost}}
<br>taxCost: ${{taxCost}}
<br>shipCost: ${{shipCost}}
<br>shippingCompany: {{shippingCompany.name}}
<br>totalCost: ${{totalCost}},
<br>deposit: ${{deposit}},
<br>balance: ${{balance}},
<br>date: {{date}}

</div>