<div id="quote">
  <nav class="bar">
    {{#link-to 'quotes' class="deny"}}&lsaquo; Quotes{{/link-to}}
    {{#link-to 'quote.edit' class="confirm"}}Edit{{/link-to}}
  </nav>

  sender: {{sender.firstName}} {{sender.lastName}}
  <br>date: {{date}}
  <br>firstName: {{firstName}}
  <br>email: {{email}}
  <br>pattern: {{pattern}}
  <br>size: {{size}}
  <br>squareFeet: {{squareFeet}}
  <br>squareFootPrice: {{squareFootPrice}}
  <br>totalCost: {{totalCost}}
  <br>temperedGlass: {{temperedGlass}}
  <br>framing: {{framing}}
  <br>misc: {{misc}}

</div>