<div id="quote">
  <nav class="bar">
    {{#link-to 'quotes' class="deny"}}&lsaquo; Quotes{{/link-to}}
    {{#link-to 'quote.edit' class="confirm"}}Edit{{/link-to}}
  </nav>
  <div class="content">
    Seny by: {{sender.firstName}} {{sender.lastName}}
    <br>Date: {{date}}
    <br>Name: {{firstName}}
    <br>Email: {{email}}
    <br>Pattern: {{pattern}}
    <br>Size: {{size}}
    <br>Sqft: {{squareFeet}}
    <br>Sqft Price: ${{squareFootPrice}}
    <br>Total: ${{totalCost}}
    <br>Tempered Glass: {{temperedGlass}}
    <br>Framing: {{framing}}
    <br>misc: {{misc}}
  </div>

</div>