<div id="clients">

  <nav class="bar">
    Clients
    <a {{action 'openModal' 'client.new'}} class="confirm">New Client</a>
  </nav>

{{!--<div class="table-header row">
    <div class="small-4 columns">
      <span>Name</span>
    </div>
    <div class="small-4 columns">
      <span>Phone</span>
    </div>
    <div class="small-4 columns">
      <span>Email</span>
    </div>
</div>--}}

{{#each}}
<!--{{californian}}-->
<div class="customer" {{action toggleActive controller}} {{bind-attr class="controller.isActive:open"}}>
  <div class="summary row table-row">
    <div class="small-4 columns">
      <span class="name">{{this.firstName}} {{this.lastName}}</span>
    </div>
    <div class="small-4 columns">
      {{this.primaryPhone}}{{#if this.alternatePhone}} (alt {{this.alternatePhone}}){{/if}}
    </div>
    <div class="small-4 columns">
      {{this.email}}
    </div>
    <!--ORDERS-->
  </div>
  {{#if controller.isActive}}
  <div class="row detail">
    <div class="small-6 columns">
      <div class="label">
      <div class="title">Shipping Address</div>
      <div class="address">      
      {{#if this.companyName}}{{this.companyName}}{{else}}{{this.fullName}}{{/if}}<br>
      {{this.shippingAddress.street}}<br>
      {{this.shippingAddress.city}}, {{this.shippingAddress.state}} {{this.shippingAddress.zip}}
      </div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="label">
      <div class="title">Billing Address</div>
      <div class="address">
      {{this.fullName}}<br>
      {{this.billingAddress.street}}<br>
      {{this.billingAddress.city}}, {{this.billingAddress.state}} {{this.billingAddress.zip}}
      </div>
      </div>
    </div>
  </div>
  {{/if}}
  <div {{bind-attr class=":toggle controller.isActive:icon-arrow-up:icon-arrow-down"}}></div>
</div>
{{/each}}


</div>