<div id="request">
  <nav class="bar">
    {{#link-to 'requests' class="deny"}}&lsaquo; Requests{{/link-to}}
    {{#link-to 'request.edit' class="confirm"}}Edit{{/link-to}}
  </nav>

id: {{id}}
<br>first name: {{firstName}}
<br>email: {{email}}
<br>phone: {{primaryPhone}}
<br>design: {{design}}
<br>stock: {{stock}}
<br>height: {{height}}
<br>width: {{width}}
<br>description: {{description}}
<br>image: {{image}}
<br>installation: {{installation}}
<br>framing: {{framing}}
<br>date: {{date}}

</div>